* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  color: #515767;
}

ul,li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  /* color: #86909c; */
  /* color: #515767; */
}

::-webkit-scrollbar {
  display: none;
}
